.logo {
    color: #06d474;
    height: 32px;
    pointer-events: none;
}

.site_name {
    margin-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation .nav_item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.nav_item.sign_up_item a {
    border: 1px solid #fff;
    padding: 3px 10px 6px;
    border-radius: 5px;
}

.nav_item.sign_up_item a:hover {
    color: #fff;
    background: #06d474;
    border-color: #06d474;
}

.nav_item.user_item a {
    border: 2px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_item.user_item a:hover {
    color: #fff;
    background: #06d474;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    width: 24px;
    height: 24px;
    padding-left: 1px;
    color: #282c34;
    border: 2px solid #282c34;
    right: -10px;
    bottom: -5px;
    border-radius: 100%;
    background: #fff;
    transition: all .25s ease-in-out;
}

.nav_item a:hover .count {
    color: #fff;
    border: 2px solid #fff;
    background: #06d474;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 15s linear;
    }
}


@keyframes logo-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}