.product_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    transition: all .2s ease-in-out;
}

.product_item:hover {
    box-shadow: 0px 20px 35px rgba(255, 255, 255, 0.1);
    transform: translateY(-5px);
}

.product_item img {
    width: 100%;
    height: auto;
    transform: translateZ(0);
    transition: all .2s ease-in-out;
}

.product_item:hover img {
    transform: scale(1.3);
}

.title,
.price {
    color: #282c34;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.product_item_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
}

.price {
    font-size: 20px;
    font-weight: 900;
}

.mini_loader,
.add_to_wishlist,
.remove_from_wishlist {
    position: absolute;
    right: 30px;
    z-index: 1;
}

.add_to_wishlist,
.remove_from_wishlist,
.add_to_cart,
.remove_from_cart {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add_to_cart,
.remove_from_cart {
    border-radius: 5px;
}

.add_to_wishlist {
    color: #aaa;
}

.remove_from_wishlist {
    color: #06d474;
}

.add_to_cart {
    color: #aaa;
    border: 2px solid #ddd;
}

.remove_from_cart {
    color: #fff;
    background: #06d474;
    border: 2px solid #06d474;
}

.add_to_wishlist:hover {
    color: #06d474;
}

.remove_from_wishlist:hover {
    color: #aaa;
}

.add_to_cart:hover {
    color: #fff;
    background: #06d474;
    border: 2px solid #06d474;
}

.remove_from_cart:hover {
    color: #aaa;
    background: none;
    border: 2px solid #ddd;
}