.auth_form_err {
    display: block;
    text-align: center;
    padding: 20px 40px;
    background: rgba(255, 0, 0, .2);
    border-radius: 5px;
    margin: 30px 0 0;
}

.input_group {
    margin-bottom: 30px;
}

.input_group label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.input_group input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.button_group {
    margin-top: 50px;
}

.button_group button {
    font-size: 100%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 25px;
    background: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button_group button:hover {
    border-color: #06d474;
    background: #06d474;
}

.button_group span {
    margin-left: 30px;
}